<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>

        <section class="barraPrincipal">
            
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo ML">

            <div class="barraDeBusqueda"> 
                <div> Buscar</div>
                <i class="fas fa-search"></i>
            </div>
            <div class="compraCC"> 
                <i class="fas fa-hand-holding-usd"></i> 
                <span> Compra en cuotas y sin tarjeta de credito</span>
            </div>
        </section>

        <section class="listaBurger">
            <nav class="menuDesplegable">  <STYLE>A {text-decoration: none;} A{color: black};</STYLE>
                <div>
                    <ul id="menuIzq">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>
                <div>
                    <ul id="menuDer">
                        <li><a href="#"> Crea tu cuenta <i class="fas fa-user-plus"> </i></a></li>
                        <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>    
            </nav>
          
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>

    </header>
    
    <main>
        
        <img class="banner" src="/img/img-home-banner.jpg" alt="">
    
        <section>
            <div class="titular"> Basado en tu última visita</div>
            
            <div class="todosLosArticulos">

                <article class="elemento">
                    <img src="img/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <div class="precio">$6.770</div>
                            <div class="descuento">40% OFF</div>
                        </div>
                        <div class="descripcion">Cafetera Moulinex</div>
                    </div>
                </article>
                
                <article class="elemento">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">  
                            <div class="precio">$230.000</div>
                            <div class="descuento">20% off</div>
                        </div>
                        <div class="descripcion">MacBook Pro 2019</div>
                    </div>
                </article>
                
                <article class="elemento">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <div class="precio">$70.500</div>
                            <div class="descuento">10% off</div>
                        </div>
                        <div class="descripcion">Samsung Galaxy S10</div>
                    </div>
                </article>

                <article class="elemento">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <div class="precio">$23.200</div>
                            <div class="descuento">5% off</div>
                        </div>
                        <div class="descripcion">SmartTv Samsung 43"</div>
                    </div>
                </article>
        
            </div>
        
        </section>

        <section class="ofertas">
            
            <div class="titular"> Ofertas!</div>
            
            <div class="todosLosArticulos">

                <article class="elemento">
                    <img src="img/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex" width="40%">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <div class="precio">$6.770</div>
                            <div class="descuento">40% OFF</div>
                        </div>
                        <div class="descripcion">Cafetera Moulinex</div>
                    </div>
                </article>
                
                <article class="elemento">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="40%">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">  
                            <div class="precio">$230.000</div>
                            <div class="descuento">20% off</div>
                        </div>
                        <div class="descripcion">MacBook Pro 2019</div>
                    </div>
                </article>
                
                <article class="elemento">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="40%">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <div class="precio">$70.500</div>
                            <div class="descuento">10% off</div>
                        </div>
                        <div class="descripcion">Samsung Galaxy S10</div>
                    </div>
                </article>

                <article class="elemento">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="40%">
                    <div class="cajitaPrecio">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <div class="precio">$23.200</div>
                            <div class="descuento">5% off</div>
                        </div>
                        <div class="descripcion">SmartTv Samsung 43"</div>
                    </div>
                </article>
        
            </div>

        </section>
    
    </main>
   
    <footer>
        <section> 
            <i class="far fa-credit-card"></i>
            <div class="negrita"> Pagá con tarjeta o en efectivo </div>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>  
        <br>
        <section>
            <i class="fas fa-gift"></i>
            <div class="negrita"> Envío gratis desde $ 2.500</div>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. 
                Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <br>      
        <section>
            <i class="fas fa-user-shield"></i>
            <div class="negrita">Seguridad, de principio a fin </div>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        <br>     
        <section>
            <div class="negrita">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
        <br>       
    </footer>

    
</body>
</html>

