/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

*{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

}

header{
    width: 100vw;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin:4%;
}

.formularioRegistro{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.completar {
    display: grid;
    width: 80vw;
    margin: 3vh auto;
    height: 5vh;
    text-align: center;

}
.inputsIntereses{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.completar input{
    margin: 0px auto;
    border: none;
    background-color: none;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    box-sizing: border-box;
}

.checkmark{
    text-align: center;
    margin: 1em;

}


.categoria{
    font-weight: bolder;
    font-size: 1em;
    margin: 1em;
}


.checkmark div span{
    margin-left: 2vw;
    text-align: center;
}

.botonesEnvio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    margin-top: 5vh;
}

.botonesEnvio button{

    padding: 1%;
    border: none;
    background-color: #03264C;
    color:white;
    width: fit-content;
    border-radius: 6px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.8ms;
    
}
.botonesEnvio button:hover{
    background-color: #0022AA;
}