/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}

/* elementos del header */


header{
    background-color: #EAC926;
    text-align: center;
    padding: 0 3vw 0 3vw;
    width: 100%;
    box-sizing: border-box;
}

.barraPrincipal{
    display: flex;
    flex-wrap: wrap;
    height: 25vh;
    padding-top: 5vh;
    padding-bottom: 3vh;
    box-sizing: border-box;
    align-content: space-around;
    /* border: 1px solid black; esto lo puse asi para poder guiarme en la estructura*/
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin-left: 5%;
    width: 30%;
    box-sizing: border-box;
}

.barraDeBusqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 5vh;
    background-color: white;
    border-radius: 3px;
    color: #666;
    align-self: center;
    margin-left: 5%;
    margin-right: 5vh;
    box-sizing: border-box;
}

.menuDesplegable{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 0.5vw;
}

#menuIzq li, #menuDer li {
    display: inline;
    padding: 1vw;
}

.fa-bars{
    padding:12px;
    background-color: #03264C;
    border-radius: 12%;
    margin: 10px;
    color:white;

}

/* Elementos del main*/

.banner{
    width:100%;
}

.titular{
    font-size: 24px;
    color:#666;
    margin: 4vh;
}



.todosLosArticulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.elemento{
    margin-bottom: 5vh;
    background-color: white;
    width: 70vw;
    padding: 2%;
    box-sizing: content-box;
}

article img{
    width: 100%;
}


.cajitaPrecio{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}


.fa-truck{
    display: flex;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #39b54a;;
    align-items: center;
    justify-items: center;
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precioDescuento{
    display:flex;
    align-self: flex-start;
}


.precio{
    font-size: 18px;

}
.descuento {
    font-size: 16px;
    color: #39b54a;
    display: flex;
    position: relative;
    left: 1vw;
}

.descripcion{
    font-size: 16px;
    color:#666;
}




/* todos los elementos del footer */

footer {
    text-align: center;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

.negrita{
    font-weight: bold;
}


p {
    font-size: 12px;
}


/*aca van mis media queries */


@media(max-width:768px){

    .menuDesplegable{
       display: none;
   }
    .descripcion{
       display: none;
   }

   /*que haya un elemento por linea */
}

@media(min-width:769px){

    .barraPrincipal{
        flex-wrap: nowrap;
    }

    .elemento{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); /* no se entiende si aplica a todos o solo a >769px */
    }
    .burger-menu{
        display: none;
    }

}

@media (min-width: 769px) and (max-width:1023px){

    .elemento{
        width: 35vw;
    }
}

@media (min-width:1024px){
    
    .elemento{
        width: 18vw;
    }
}