/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/* elementos del header */

.logo{
    margin-top: 3%;
}

header{
    background-color: #EAC926;
    text-align: center;
    margin: auto;
    width: 100%;
    box-sizing: border-box;

}

#listaDelMenu{
    list-style: none;
    margin: 0 ;
    padding: 10px 20px 15px 20px;
    box-sizing: border-box;
    text-align: justify;
}

.fa-bars{
    padding:12px;
    background-color: #03264C;
    border-radius: 12%;
    margin: 10px;
    color:white;

}

/* Elementos del main*/

.banner{
    width:100%;
}
.centrarContenedor{
    
    text-align: center;
}


main article{
    text-align: center;
    width: 90%;
    margin-left: 3%;
}

.elemento{
    margin-bottom: 10px;
    background-color: white;
}

.cajitaPrecio{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.negrita{
    font-weight: bold;
}

.titular{
    font-size: 24px;
    color:#666;
    margin: 5% 0px;
}
.fa-truck{
    display: flex;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #39b54a;;
    align-items: center;
    justify-items: center;
    color: #39b54a;
}

.precio{
    font-size: 18px;
}
.descuento {
    font-size: 16px;
}

.descripcion{
    font-size: 16px;
    color:#666;
}



p {
    font-size: 12px;
}

footer {
    text-align: center;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}



@media(min-width: 361px) and (max-width:768px){
   #listaDelMenu{
       display: none;
   }
    .descripcion{
       display: none;
   }
}

@media(min-width:769px){
    .elemento{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); /* no se entiende si aplica a todos o solo a >769px */
    }
    .burger-menu{
        display: none;
    }
}

/* 

Para la sección del Header debemos:
● Solo para la versión mobile, ocultar el site y el login navbar.
● Para las versiones desktop y tablet mostrar el site y login navbar, pero ocultar la imagen
del menú hamburguesa.
*/
